body,
html {
  height: 100%;
}
.wrap {
  width: 8.33333333rem;
  height: 100%;
  margin: 0 auto;
}
.wrap img {
  width: 2.43055556rem;
  height: 2.43055556rem;
  margin: 2.01388889rem 0 1.38888889rem 2.91666667rem;
}
.wrap .input input {
  width: 8.33333333rem;
  height: 1.11111111rem;
  border: 0.01388889rem solid #999999;
  border-radius: 0.06944444rem;
  margin-bottom: 0.41666667rem;
  font-size: 0.33333333rem;
  font-family: 微软雅黑;
  text-indent: 0.27777778rem;
}
.input input[type="submit"] {
  background: #ff6600;
  font-size: 0.41666667rem;
  color: #fff;
  letter-spacing: 0.34722222rem;
  font-family: "微软雅黑";
  margin-top: 0.41666667rem;
}
.check {
  vertical-align: top;
}
.check input[type="checkbox"] {
  width: 0.33333333rem;
  height: 0.33333333rem;
  margin-right: 0.13888889rem;
}
.check a {
  margin-left: 2.08333333rem;
  color: #ff6600;
}
