body,html{
    height: 100%;
}
.wrap{
    width: 600/72rem;
    height: 100%;
    margin: 0 auto;
}
.wrap img{
    width: 175/72rem;
    height: 175/72rem;
    margin: 145/72rem 0 100/72rem 210/72rem;
    
}
.wrap .input input{
    width: 600/72rem;
    height: 80/72rem;
    border:1/72rem solid #999;
    border-radius:5/72rem;
    margin-bottom: 30/72rem;
    font-size:24/72rem ;
    font-family: 微软雅黑;
    text-indent: 20/72rem;
}
.input input[type="submit"]{
    background: #ff6600;
    font-size: 30/72rem;
    color: #fff;
    //font-weight: bold;
    letter-spacing:25/72rem;
    font-family: "微软雅黑";
    margin-top: 30/72rem;
}
.check{
    vertical-align: top;
}
.check input[type="checkbox"] {  
    
    width: 24/72rem;
    height: 24/72rem;
    margin-right: 10/72rem;
    
}
.check a{
    margin-left: 150/72rem;
    color: #ff6600;
}



