body,
html {
  height: 100%;
}
.wrap ul {
  width: 9.16666667rem;
  margin: 0.13888889rem 0.41666667rem;
}
.wrap li {
  height: 4.16666667rem;
  line-height: 4.16666667rem;
  margin-bottom: 0.13888889rem;
  border-radius: 0.20833333rem;
}
.wrap li p {
  font-size: 0.625rem;
  text-align: center;
  color: #fff;
  font-family: "微软雅黑";
}
