body,html{
    height: 100%;
}
.wrap{
    width: 720/72rem;
}
.wrap h1{
    color: #323333;
    font-size:36/72rem;
    font-family: "微软雅黑";
    letter-spacing:5/72rem;
    margin: 50/72rem 0 30/72rem 20/72rem;
}
.wrap time{
    color: #999;
    font-size:24/72rem;
    margin-left: 35/72rem;
}
.wrap p{
    color: #323333;
    padding: 20/72rem 45/72rem 20/72rem 45/72rem;
    text-indent:50/72rem;
    font-size:24/72rem;
    letter-spacing:1/72rem;
}
.wrap img{
    display: block;
    width: 600/72rem;
    height: 450/72rem;
    margin: 20/72rem auto;
}
