body,html{
    height: 100%;
}
.wrap{
    width: 720/72rem;
    height: 100%;
}
.wrap ul li{
    height: 150/72rem;
    margin-bottom: 2/72rem;

}
.wrap ul li a{
    display: inline-block;
    height: 150/72rem;
    width: 720/72rem;
}
.wrap ul li a>img{
    width: 200/72rem;
    display: inline-block;
    border:0;
    margin-right: -8/72rem;
    float: left;
}
.wrap ul li p{
    height: 150/72rem;
    line-height:150/72rem;
    width: 520/72rem;
    //text-align: center;
    float: right;
    vertical-align: top;
    font-size:36/72rem;  
    letter-spacing: 2/72rem;
    color: #fff;
    font-family: "幼圆";
   
}
.wrap ul li p img{
    width: 70/72rem;
    vertical-align:middle;
    //margin-right: 15/72rem;
    margin-left: 125/72rem;
}

.p1{
    background:url(../img/bg-1.png)no-repeat;
    background-size:520/72rem;  
}
.p2{
    background:url(../img/bg-2.png)no-repeat;
    background-size:520/72rem;  
}
.p3{
    background:url(../img/bg-3.png)no-repeat;
    background-size:520/72rem;  
}
.p4{
    background:url(../img/bg-4.png)no-repeat;
    background-size:520/72rem;  
}
.p5{
    background:url(../img/bg-5.png)no-repeat;
    background-size:520/72rem;  
}
.p6{
    background:url(../img/bg-6.png)no-repeat;
    background-size:520/72rem;  
}
.p7{
    background:url(../img/bg-7.png)no-repeat;
    background-size:520/72rem;  
}

    

