body,html{
    height: 100%;
    overflow: hidden;
}
.read-wrap{
    height: 100%;
    background: url(../img/bg-read.png) no-repeat;
    background-size:100% 100%;
    position: relative;
}

.read-wrap a img{
    width:120/72rem;
}
.read-wrap a:nth-child(1){
    position: absolute;
    left: 300/72rem;
    top: 370/72rem;
}
.read-wrap a:nth-child(2){
    position: absolute;
    left: 500/72rem;
    top: 300/72rem;
}
.read-wrap a:nth-child(3){
    position: absolute;
    left: 240/72rem;
    top: 715/72rem;
}
.read-wrap a:nth-child(4){
    position: absolute;
    left: 440/72rem;
    top: 650/72rem;
}