body,
html {
  height: 100%;
}
.wrap {
  width: 9.16666667rem;
  height: 100%;
  margin: 0.13888889rem 0.41666667rem 0 0.41666667rem;
  background: #eee;
}
.mask {
  display: none;
  position: fixed;
  background: rgba(51, 51, 51, 0.8);
  width: 10rem;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
.input {
  display: none;
  width: 6.11111111rem;
  height: 4.51388889rem;
  background: #fff;
  border-radius: 0.13888889rem;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 0.625rem 0.55555556rem 0 0.55555556rem;
}
.input h1 {
  font-size: 0.41666667rem;
  font-family: "微软雅黑";
  color: #333;
  text-align: center;
}
.input p {
  margin-top: 0.97222222rem;
  color: #666;
  font-size: 0.33333333rem;
}
.input .sub1 {
  width: 2.63888889rem;
  height: 0.66666667rem;
  text-align: center;
  line-height: 0.66666667rem;
  border: 0.01388889rem solid #999999;
  border-radius: 0.13888889rem;
  background: #fff;
  font-size: 0.38888889rem;
  margin-top: 0.83333333rem;
  color: #333;
}
.input .sub2 {
  width: 2.63888889rem;
  height: 0.66666667rem;
  text-align: center;
  line-height: 0.66666667rem;
  border: 0.01388889rem solid #999999;
  border-radius: 0.13888889rem;
  background: #ff6600;
  font-size: 0.38888889rem;
  margin-top: 0.83333333rem;
  color: #fff;
  margin-left: 0.69444444rem;
}
.wrap input {
  width: 9.16666667rem;
  height: 1.11111111rem;
  background: #ff6600;
  color: #000;
  letter-spacing: 0.27777778rem;
  text-align: center;
  line-height: 1.11111111rem;
  font-size: 0.48611111rem;
  border: 0;
  border-radius: 0.13888889rem 0.13888889rem 0 0;
  font-family: "微软雅黑";
}
.wrap table {
  border-left: none;
  border-top: none;
  margin: 0.13888889rem;
  text-align: center;
}
.wrap table tr {
  height: 1.11111111rem;
}
.wrap table tr:nth-child(1) td {
  width: 2.15277778rem;
  color: #ff6600;
  font-size: 0.38888889rem;
}
.wrap table tr td:first-child {
  font-size: 0.38888889rem;
}
.wrap table tr td:last-child {
  font-size: 0.38888889rem;
  border-right: hidden;
}
.wrap .detail {
  width: 4.72222222rem;
}
table .detail span {
  display: inline-block;
  width: 4.58333333rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cancel {
  color: blue;
}
