<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人中心登录</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/appointregist.css"/>
	</head>
	<body>
		<div class="wrap">
			<div class="input">
				<input type="hidden" name="" id="result" value="" placeholder=""/>
				<input type="text" name="" id="username" value="" placeholder="用户名"/>
				<p id="msg"></p>
			    <input type="password" id="pwd" value="" placeholder="密码"/>
			    <!--<input type="text" id="" value="" placeholder="验证码"/>
	            <input type="button" id="" name="" value="点击获取验证码"/>-->
	            <input type="submit" id="regist" name="" value="注册"/>
			</div>
		</div>
	</body>
	
	<script src="../js/libs/zepto.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/app/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/app/appointregist.js" type="text/javascript" charset="utf-8"></script>
</html>
