<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>信息查询</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/guide.css"/>
	
	</head>
	<body>
	   <div class="wrap">
	   	<ul>
	   		<li>
	   			<a href="../view/clxllist.html?id=16">
	   				<img src="../img/list1.png"/>
	   				<p class="p1">
	   				   <img src="../img/l1.png"/>
	   				   <span>社区居委会</span>	
	   				</p>
	   			</a>
	   		</li>
	   		<li>
	   			<a href="../view/clxllist.html?id=17">
	   				<img src="../img/list2.png"/>
	   				<p class="p2">
	   				   <img src="../img/l2.png"/>
	   				   <span>物业</span>	
	   				</p>
	   			</a>
	   		</li>
	   		<li>
	   			<a href="../view/clxllist.html?id=18">
	   				<img src="../img/list3.png"/>
	   				<p class="p3">
	   				   <img src="../img/l3.png"/>
	   				   <span>派出所</span>	
	   				</p>
	   			</a>
	   		</li>
	   		<li>
	   			<a href="../view/clxllist.html?id=19">
	   				<img src="../img/list4.png"/>
	   				<p class="p4">
	   				   <img src="../img/l4.png"/>
	   				   <span>学校</span>	
	   				</p>
	   			</a>
	   		</li>
	   		<li>
	   			<a href="../view/clxllist.html?id=20">
	   				<img src="../img/list5.png"/>
	   				<p class="p5">
	   				   <img src="../img/l5.png"/>
	   				   <span>文化场馆</span>	
	   				</p>
	   			</a>
	   		</li>
	   		<li>
	   			<a href="../view/clxllist.html?id=21">
	   				<img src="../img/list6.png"/>
	   				<p class="p6">
	   				   <img src="../img/l6.png"/>
	   				   <span>医院</span>	
	   				</p>
	   			</a>
	   		</li>
	   		<li>
	   			<a href="../view/clxllist.html?id=22">
	   				<img src="../img/list7.png"/>
	   				<p class="p7">
	   				   <img src="../img/l7.png"/>
	   				   <span>工商税务</span>	
	   				</p>
	   			</a>
	   		</li>
	   	</ul>	
	   	  
	   </div>
       
	</body>
	
	
	<script src="../js/libs/zepto.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/app/common.js" type="text/javascript" charset="utf-8"></script>
</html>
