<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>便民服务</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/server.css"/>
	
	</head>
	<body>
	   <div class="wrap">
	   	<ul>
	   		<li>
	   			<a href="https://city.weixin.qq.com/wx/home2?exportkey=ATpo0xp9gr0jALYMKL2Ig1w%3D&pass_ticket=b8jZ1TdNsXk4Skml1IRRKZQxn9TazPrA8kLHMePNTJg1OoB5z9mRFLgKWJpFRdwj#/">
	   				<img src="../img/b1.png"/>
	   				<p>
	   				   <img src="../img/s1.png"/>
	   				   <span>城市服务</span>	
	   				</p>
	   			</a>
	   		</li>
	   		<li>
	   			<a href="https://www.bjjzzpt.com/">
	   				<img src="../img/b2.png"/>
	   				<p>
	   				   <img src="../img/s2.png"/>
	   				   <span>居住证申办</span>	
	   				</p>
	   			</a>
	   		</li>
	   		<li>
	   			<a href="http://www.bjgaj.gov.cn/idn/?parm=fj2">
	   				<img src="../img/b3.png"/>
	   				<p>
	   				   <img src="../img/s3.png"/>
	   				   <span>出入境证件申办</span>	
	   				</p>
	   			</a>
	   		</li>
	   		<li>
	   			<a href="http://www.bv2008.cn/">
	   				<img src="../img/b4.png"/>
	   				<p>
	   				   <img src="../img/s4.png"/>
	   				   <span>志愿服务</span>	
	   				</p>
	   			</a>
	   		</li>
	   	</ul>	
	   </div>
       
	</body>
	
	
	<script src="../js/libs/zepto.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/app/common.js" type="text/javascript" charset="utf-8"></script>
    
</html>
